// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
h1, h2 {
    text-transform: uppercase;
    letter-spacing: -1px;
    margin-bottom: 2rem;
    strong{
        font-weight: 300;
    }
}
h3, h4, h5, h6 {
 letter-spacing: -1px;
}
// h1, h2, h3,
// h4, h5, h6 {}

// Anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}

//SLIDER
.block-views-block-paises-slider-block {
    .owl-wrapper-outer{
        z-index: 1;
        position: relative;
    }
    .owl-controls {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%); 
        margin-top: 0;
        text-align: justify;
        display: inline-block;
        width: 100%;
        z-index: 2;
        height: 0;
        .owl-next {
            float: right;
            text-indent: -10000px;
            position: relative;
            &:after{
                position: absolute;
                background-image: url(../images/right.svg);
                right: 0;
                top: 0;
                content: "";
                width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
            }

        }
        .owl-prev {
            float: left;
            text-indent: -10000px;
            position: relative;
            &:after{
                position: absolute;
                background-image: url(../images/left.svg);
                left: 0;
                top: 0;
                content: "";
                width: 40px;
                height: 40px;
                background-size: contain;
                background-repeat: no-repeat;
            }

        }
    }
    .owl-theme .owl-controls .owl-buttons div {
        padding: 0;
        background: none;
        width: 40px;
        height: 40px;
        transform: translateY(-50%);
    }
}


.mb-4{
    margin-bottom: 4rem;
    @media (max-width: 600px) {
        margin-bottom: 2rem;
    } 
}
.mb-2{
    margin-bottom: 2rem;
    @media (max-width: 600px) {
        margin-bottom: 1rem;
    } 
}
.block-full{
    display: inline-block;
    width: 100%;
}
.p-block{
    padding-top: 4rem;
    padding-bottom: 4rem;
    @media (max-width: 600px) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.breadcrumbs {
    margin: 0;
    a{
        font-size: 0.6rem;
    }
}

img.img-content {
    float: right;
    border: 1px solid $light-gray;
    margin: 2rem 0 2rem 2rem;
}

.mm-panels{
    background: $primary-color;
    li {
        display: block;
        width: 100%;
        a{
            text-transform: uppercase;
            padding: 1.4rem 1rem !important; 
        }
    }
}
.responsive-menu-toggle-icon{
    &:after{
        background: $primary-color;
    }
    &:before{
        background: $primary-color;
    }
}
.responsive-menu-toggle-icon span.icon {
    background: $primary-color;
}
.responsive-menu-toggle-icon span.label {
    display: none;
}
.responsive-menu-toggle {
    display: inline-block;
    float: right;
}

section#block-views-block-articulos-relacionados-block{
    .views-row {
        position: relative;
        min-height: 360px;
        .link {
            margin-top: 0.6rem;
            position: absolute;
            bottom: 0;
        }
    }
}